.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 300px;
}

.grid {
  display: grid;
  grid-template-columns: 4;
  grid-template-rows: 5;
}